@import '../../style/variables';
@import '../../style/mixin';

.about {
  padding-top: 24px;
  padding-bottom: 80px;
  @include tablet {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}
.about__content {
  transition: padding-top 0.8s;
  padding-top: 24px;
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  max-width: 250px;
  p:nth-child(2) {
    max-width: 210px;
  }

  @include tablet {
    padding-top: 60px;
    max-width: 580px;
    font-size: 20px;
    p:nth-child(2) {
      max-width: 440px;
    }
  }
}
