@import '../../style/variables';
@import '../../style/mixin';

.banner {
  height: 50vh;
  background-image: url(../../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 100%;

  @include tablet {
    height: 100vh;
    background-position: bottom;
  }
}
