@import '../style/variables';
@import '../style/mixin';

.banner {
  height: 50vh;
  background-image: url('../../public/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  @include tablet {
    height: 100vh;
  }
}
