*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font-family('Noto Sans');
  letter-spacing: 0.04em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  &:focus-visible {
    outline: 0;
  }
}

button,
input[type='submit'] {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  color: inherit;
  padding: 0;
  &:focus-visible {
    outline: 0;
  }
}

p {
  margin: 0;
}
