.ff-girassol {
  @include font-family('Girassol');
}

.ff-great-vibes {
  @include font-family('Great Vibes');
}

.ff-plus-jakarta-sans {
  @include font-family('Plus Jakarta Sans');
}

.fw-medium {
  font-weight: 500;
}

.bgc-dark {
  background-color: $dark;
}

.bgc-gray {
  background-color: $gray;
}

.fz-18 {
  font-size: 18px;
}
