.ff-girassol {
  @include font-family('Girassol');
}

.ff-great-vibes {
  @include font-family('Great Vibes');
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.bgc-dark {
  background-color: $dark;
}

.bgc-gray {
  background-color: $gray;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}
